{% extends 'base.html' %}

{% block contenido %}
<div class="container d-flex flex-row justify-content-evenly align-items-center flex-wrap">
    {% for disciplina in disciplina_list %}
    <div class="card text-center mt-3" style="width: 20rem;">
        <div class="card-header">{{ disciplina }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ disciplina }}</h5>
        </div>
        <div class="card-footer">
            <a href="{% url 'detalle_disciplina' disciplina.pk %}" class="btn btn-primary">
                Ver info
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock contenido %}