{% extends 'base.html' %}

{% block contenido %}
<div class="container d-flex flex-column">
    <a href="{% url 'agregar_entrenador_nuevo' %}" class="btn btn-success mx-auto mb-3">+ Agregar entrenador (Persona nueva)</a>
    <a href="{% url 'agregar_entrenador_existente' %}" class="btn btn-success mx-auto">+ Agregar entrenador (Persona existente)</a>
</div>
<div class="container d-flex flex-row justify-content-evenly align-items-center flex-wrap">
    {% for entrenador in entrenador_list %}
    <div class="card text-center mt-3" style="width: 20rem;">
        <div class="card-header">{{ entrenador }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ entrenador }}</h5>
        </div>
        <div class="card-footer">
            <a href="{% url 'detalle_entrenador' entrenador.pk %}" class="btn btn-primary">Ver info.</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock contenido %}