{% extends 'base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
<div class="container d-flex flex-column">
    <a href="{% url 'agregar_ejercicio' %}" class="btn btn-success mx-auto">+ Agregar ejercicio</a>
</div>
{% endif %}
<div class="container d-flex flex-row justify-content-evenly align-items-center flex-wrap">
    {% for ejercicio in ejercicio_list %}
    <div class="card text-center mt-3" style="width:20rem;">
        <div class="card-header">{{ ejercicio }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ ejercicio }}</h5>
        </div>
        <div class="card-footer">
            <a href="{% url 'detalle_ejercicio' ejercicio.pk %}" class="btn btn-primary">
                Ver ejercicio
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock contenido %}