{% extends 'base.html' %}

{% load entrenamientos_extra %}

{% block contenido %}
<div class="container d-flex justify-content-center">
    <div class="card text-center" style="width:30rem;">
        <div class="card-header">
            {{ atleta }}
        </div>
        <div class="card-body">
            <p class="card-text">Edad: {{ atleta.get_edad }}</p>
            <p class="card-text">Sexo: {{ atleta.get_sexo }}</p>
            <p class="card-text">Disciplinas que entrena:</p>
            <ul class="list-group">
                {% atleta_disciplinas atleta %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'lista_atletas' %}" class="btn btn-primary">Volver</a>
            <a href="{% url 'editar_atleta' atleta.pk %}" class="btn btn-success">Editar</a>
            <a href="{% url 'eliminar_atleta' atleta.pk %}" class="btn btn-danger">Eliminar (Atleta)</a>
            <a href="{% url 'eliminar_persona' atleta.persona_fk.pk %}" class="btn btn-danger mt-2">Eliminar (Persona)</a>
        </div>
    </div>
</div>
{% endblock contenido %}