{% extends 'base.html' %}

{% load entrenamientos_extra %}

{% block contenido %}
<div class="container d-flex justify-content-center">
    <div class="card text-center" style="width: 30rem;">
    <div class="card-header">
        {{ entrenador }}
    </div>
    <div class="card-body">
        <p class="card-text">Edad: {{ entrenador.get_edad }}</p>
        <p class="card-text">Sexo: {{ entrenador.get_sexo }}</p>
        <p class="card-text">Disciplinas que imparte:</p>
        <ul class="list-group">
            {% entrenador_disciplinas entrenador %}
        </ul>
    </div>
    <div class="card-footer">
        <a href="{% url 'lista_entrenadores' %}" class="btn btn-primary">Volver</a>
        <a href="{% url 'editar_entrenador' entrenador.pk %}" class="btn btn-success">Editar</a>
        <a href="{% url 'eliminar_entrenador' entrenador.pk %}" class="btn btn-danger">Eliminar (Entrenador)</a>
        <a href="{% url 'eliminar_persona' entrenador.persona_fk.pk %}" class="btn btn-danger mt-2">Eliminar(Persona)</a>
    </div>
</div>
{% endblock contenido %}